.paper {
  padding: 24px 16px;
  margin-bottom: 24px;

  &.minHeight {
    min-height: 300px;
  }
}

.addButton {
  text-align: center;
  margin: 24px 0;
}

.link {
  text-decoration: none;
}

.buyButton {
  width: 100%;
}

.btnIcon {
  margin-right: 8px;
}
