$cardRatio: 0.720720720720721;
$radiusRatio: 0.04375;
$sm: 150;
$md: 220;
$lg: 320;

.card {
  background-color: #211799;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin: 20px 10px;

  &.shadow {
    box-shadow: 0 35px 25px -15px rgba(0, 0, 0, 0.5);
  }

  & > span {
    position: relative;
    top: 45%;
  }

  &.sm {
    border-radius: $sm * $radiusRatio * 1px;
    width: $sm * 1px;
    height: $sm / $cardRatio * 1px;
  }

  &.md {
    border-radius: $md * $radiusRatio * 1px;
    width: $md * 1px;
    height: $md / $cardRatio * 1px;
  }

  &.lg {
    border-radius: $lg * $radiusRatio * 1px;
    width: $lg * 1px;
    height: $lg / $cardRatio * 1px;
  }

  &.foil {
    box-shadow: -3px -3px 3px 0 rgba(#26e6f7, 0.6),
    3px 3px 3px 0 rgba(#f759e4, 0.6),
    0 0 6px 2px rgba(#ffe759, 0.6),
    0 35px 25px -15px rgba(0, 0, 0, 0.5);

    .sparkles, .gradient {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-image: linear-gradient(
                      115deg,
                      transparent 0%,
                      rgb(0, 231, 255) 30%,
                      rgb(255, 0, 231) 70%,
                      transparent 100%
      );
      background-position: 0% 0%;
      background-repeat: no-repeat;
      background-size: 300% 300%;
      mix-blend-mode: color-dodge;
      opacity: 0;
      z-index: 1;
      transform: translate3d(0, 0, 0);
      animation: holoGradient 15s ease infinite;
    }

    .sparkles {
      background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/13471/sparkles.gif");
      background-position: center;
      background-size: 180%;
      mix-blend-mode: color-dodge;
      opacity: 0;
      z-index: 2;
      animation: holoSparkle 20s ease infinite;
    }

    &.active .gradient {
      opacity: 0.5;
      animation: none;
      transition: none;
      background-image: linear-gradient(
                      115deg,
                      transparent 0%,
                      transparent 25%,
                      rgb(0, 231, 255) 45%,
                      rgb(255, 0, 231) 55%,
                      transparent 70%,
                      transparent 100%
      );
    }
  }
}

@keyframes holoSparkle {
  0% {
    opacity: 0;
  }
  12% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.2;
  }
}

@keyframes holoGradient {
  3% {
    opacity: 0;
  }
  5% {
    background-position: 0% 0%;
  }
  7% {
    opacity: 0.5;
  }
  9% {
    background-position: 100% 100%;
  }
  11% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    background-position: 100% 100%;
  }
  55% {
    opacity: 0.3;
  }
  70% {
    opacity: 0;
    background-position: 0% 0%;
  }
}
