.centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.card {
  width: 300px;
}

.paper {
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 320px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
}

.input {
  width: 100%;
}

.button {
  width: 100%;
}

.spacing {
  padding: 8px 0;
}
